<body>
    <div class="container"> 
        <h1>Tässä tarkempia tietoja kontteista</h1>

        <!-- A picture about containers limited to available space in the container -->
        <img width="100%" src="/images/Konttikuvia3.png" alt="Kontin varjossa">
       
        {{!-- Start Handlebars For-Each-loop to show all rows in containerData --}}
        {{#each containerData}}
          {{!-- Print values of omistaja-key and sisalto-key--}}
          <h2>{{omistaja}} {{sisalto}}</h2>
        <br>
        {{!-- End the loop --}}
        {{/each}}
    </div>
    
</body>